<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsDOWMkTO_SJH2jeDBodCq_VtqUyR8cIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>25104211908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csm.katalog.csmkatalog</string>
	<key>PROJECT_ID</key>
	<string>csm-katalog</string>
	<key>STORAGE_BUCKET</key>
	<string>csm-katalog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25104211908:ios:b5aa8e532f6d0888e4ce91</string>
</dict>
</plist>